

.wrap {
    background-color: var(--articleColor);
    border-radius: 2rem;
    padding: 2rem;

}
.header {
    padding-bottom: 3rem;
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
}
.header:hover {
    color: var(--accent);
    transition: 1s ease-in-out all;
}

