.resume {
    background-color: var(--jet);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.header {
    padding-bottom: 3rem;
    color: var(--ashGrey);
    font-size: 40px;
    text-align: center;
}
.header:hover {
    color: var(--safron);
    transition: 1s ease-in-out all;
}

.button {
    padding: 1.5rem;
    font-size: 20px;
    font-family: 'VT323', monospace;
    border: 1px solid var(--safron);
    border-radius: 0.5rem;

}