.aboutWrapper {
    display: flex;
    flex-direction: row;
}

.textBlock {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    max-width: calc(var(--index)*20);
    z-index: 10000;
}

.hello {
    font-size: calc(var(--index));
    letter-spacing: calc(var(--index)/3);
    font-weight: 300;

    color: var(--text-color);
    padding-bottom: 0.5rem;
}

.myName {
    font-size: calc(var(--index)*2);
    letter-spacing: calc(var(--index)/3);
    font-weight: 700;

    color: var(--text-color);

    padding-bottom: 1rem;
}

.linkBlock {
    max-width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blockDescr {
    padding-top: 1rem;
    padding-bottom: 1rem;

    color: var(--text-color);
}

.description{
    font-size: calc(var(--index)/1.1);
}

.blockButton {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
