.about {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background-color: var(--glaucous);*/
    background: transparent;
}
.aboutWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    padding-top: 2rem;
    width: 40%;
    color: white;
}
.image {
    width: 40%;
    opacity: 90;
}

.button{
    cursor: pointer;

    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-family: 'VT323', monospace;
}
.SVG {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.button:hover SVG {
    margin-left: 25px;
}