.card{
    display: flex;
    flex-direction: column;
    background: var(--ashGrey);
    border-radius: 1rem;
    padding: 1rem;
    height: 400px;
    width: 300px;
    align-items: center;
}

.img{
    background: var(--ashGrey);
    width: 150px;
    height: 150px;
}

.skill {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem;
}

.descr {
    font-size: 18px;
}
