@keyframes slide {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

.card {
    background: var(--accent);
    mask-image: url("Vector6.svg");
    mask-size: cover;
    max-width: 2000px;
    max-height: 2000px;

    /* применяем анимацию */

}

.content {
    padding: 50px;
    animation: slide 10s ease-in-out infinite;
}

/*для портфолио лучше самая крайняя - 8*/