@keyframes slide {
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(20px);
    }
}
.card {
    background: var(--accent);
   mask-image: url("Vector8.svg");
   mask-size: cover;
}

.content {
    padding: 100px;
    animation: slide 10s ease-in-out infinite;
}
/*для портфолио лучше самая крайняя - 8*/