.section-form{

}

.contactHeader {
    padding-bottom: 3rem;
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
}
.contactHeader:hover {
    color: var(--accent);
    transition: 1s ease-in-out all;
}
.inputText {
    grid-area: 1 / 1 / 2 / 2;
    outline: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 17px;

}
.inputEmail {
    outline: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 17px;
    grid-area: 1 / 2 / 2 / 3;
}
.textarea {
    outline: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 17px;
    grid-area: 2 / 1 / 3 / 3;
}
.button{
    color: var(--articleColor);
    background: var(--text-color);
    grid-area: 3 / 1 / 4 / 3;
}
.button:hover {
    color: black;
    background: var(--accent);
    transition: 1s ease-in-out all;
}
.form {
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
  /*  background-color: var(--davyGrey);*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;

}
