.header {
    padding-bottom: 3rem;
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
}
.header:hover {
    color: var(--backgroundColor);
    transition: 1s ease-in-out all;
}

.works {
    padding: 80px 0;
    position: relative;
}

.card {
    grid-area: card;
}

.cardsWrapper {
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1rem 1rem;
    grid-template-areas:
            'card card card'
            'card card card '
            'card card';
    max-height: 1500px;
}

@media screen and (max-width: 767px) {
    .cardsWrapper {
        column-count: 1;
    }
}

.decr {
    color: var(--text-color);
    width: 80%;
    padding-bottom: 2rem;
    text-align: center;
}
