:root{
  --safron:#E8C547;
  --jet:#30323D;
  --davyGrey:#4D5061;
  --glaucous:#5C80BC;
  --ashGrey:#CDD1C4
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  color: var(--ashGrey);
  text-decoration: none;
}

a:hover {
  transition: 0.5s ease-in-out all;
  color:var(--safron);
  text-decoration:none;
  cursor:pointer;
}

.App {
  font-family: 'VT323', monospace;
}

.main {
  width: 100%;
 /* background-color: var(--ashGrey);*/

}

.container {
  width: 1200px;
  margin:0 auto;
}
