
:root {
    --accent: #1985a1;
    --backgroundColor: #dcdcdd;
    --articleColor: #c5c3c6;
    --text-color: #46494c;
    --gradientColor:#536976;

    --transition-time:2s;
    --index: calc(1vw + 1vh);
}

[data-theme='dark'] {
    --accent: #E8C547;
    --backgroundColor: #30323D;
    --articleColor: #4D5061;;
    --brighColor:#5C80BC;
    --text-color: #ffffff;
    --gradientColor:#E7E9BB;
    --index: calc(1vw + 1vh);
}

body {
    transition: background-color 2s ease-in-out ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    transition: 0.5s ease-in-out all;
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}


.App {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: var(--backgroundColor);
}

.main {
    width: 100%;
    /* background-color: var(--ashGrey);*/

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.svg-icon {
    fill: var(--accent);
}