@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --safron:#E8C547;
  --jet:#30323D;
  --davyGrey:#4D5061;
  --glaucous:#5C80BC;
  --ashGrey:#CDD1C4
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  color: var(--ashGrey);
  text-decoration: none;
}

a:hover {
  transition: 0.5s ease-in-out all;
  color:var(--safron);
  text-decoration:none;
  cursor:pointer;
}

.App {
  font-family: 'VT323', monospace;
}

.main {
  width: 100%;
 /* background-color: var(--ashGrey);*/

}

.container {
  width: 1200px;
  margin:0 auto;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**/
.project {
  padding: 80px 0;
  position: relative;
}
.project h2 {
  padding-bottom: 3rem;
  color: var(--ashGrey);
  font-size: 40px;
  text-align: center;
}

.project h2:hover {
  color: var(--safron);
  transition: 1s ease-in-out all;
}


.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}


